@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Choose the file to upload: <INPUT id="oFile" type="file" runat="server" NAME="oFile"></p>
</div>-->
Quel temps fait il ?
    <div>@Model.Chaine</div>

